:root {
    --main-text-color: white;
    --primary-color-green: rgba(129,201,143,255);
}

/* Grid & FlexBox */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}
.header {
    display: flex;
    grid-area: header;
    align-items: center;
    justify-content: flex-end;
    color: white;
}
.header h1 {
    margin-right: auto;
} 
.nav {
    grid-area: navigation;
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    padding: 1rem;
}
.main {
    display: grid;
    grid-area: main;
}

/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;;
}
h1, h2, h3, p {
    font-size: 1rem;
    font-weight: 400;
}
.title {
    padding: 0 1rem;
    text-transform: uppercase;
}
.member-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-position: center;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
}
section {
    border-bottom: 1px solid grey;
}

/* SVG */
.bell {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--main-text-color);
}
.nav-svg {
    width: 1.9rem;
    height: 1.9rem;
    filter: invert(1);
}

/* Header */
.header {
    background-color: rgba(116,119,191,255);
    padding: 1rem;
    font-size: .8rem;
}
.title-bold {
    font-weight: 700;
}
.header h1 {
    font-size: 1.5rem;
}
.bell-container {
    border-right: 2px solid grey;
    padding: 1rem .5rem;
}
.header img {
    margin: 0 .5rem;
}
.header h3 {
    font-size: .7rem;
}

/* Nav */
.nav {
    background-color: rgba(77,76,114,255);
}

/* Main */
.main-header {
    display: flex;
    align-items: center;
    width: 100vw;
}
.main-header h2 {
    padding: 0 1rem;
}
.tab {
    background-color: rgba(247,247,247,255);
    height: 4rem;
    width: 100%;
    border-left: 2px solid rgba(219,219,219,255);
    border-bottom: 2px solid rgba(219,219,219,255);
}

/* Alert */
.alert {
    display: flex;
    justify-content: center;
}

.alert-banner {
    display: flex;
    background: rgba(116,119,191,255);
    padding: 0 1rem;
    width: 80%;
    border-radius: 5px;
    color: white;
    margin-top: 1rem;
}
.alert-banner p {
    font-size: .7rem;
}
.alert-banner-close {
    margin-left: auto;
}

/* Line graph */
.active {
    background: var(--primary-color-green);
    color: white;
    padding: .5rem;
    border-radius: 20px;
}

.traffic-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Socials */
.social-image {
    width: 5rem;
    height: 5rem;
}

/* Widgets */
.widget-container-full,
.widget-container-half {
    width: 95vw;
}

/* Buttom Toggle */
.checkbox {
    appearance: none;
    position: relative;
    width: 50px;
    height: 30px;
    border-radius: 25px;
    background-color: #ccc;
    transition: background .3s;
    outline: none;
    cursor: pointer;
}
.checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background: #fff;
    transition: left .3s;
}
.checkbox:checked {
    background: rgba(116,119,191,255);
}
.checkbox:checked::after {
    left: 70%;
}

/* Media Queries */
@media screen and (min-width: 768px) {
        .grid-container {
            grid-template-columns: 55px 1fr;
            grid-template-areas: 
            "header header"
            "navigation main";
        }

        .nav {
            flex-direction: column;
            justify-content: flex-start;
        }
        .main {
            grid-template-columns: 50%;
        }
        .traffic, .social {
            grid-column: 1 / span 2;
        }
        .daily, .members, .message {
            grid-column: 1 / span 1;
        }
        .mobile, .activity, .settings {
            grid-column: 2 / span 1;
        }

        .widget-container-full {
            width: 90vw;
        }
        .widget-container-half {
            width: 45vw;
        }
}